.matrix-box {
  width: 34rem;
  min-height: 60vh;
  padding: 1rem;
  margin-bottom: 2rem 
}

.matrix-title {
  font-weight: 500;
  font-size: 1.2rem;
}

.matrix-subtitle {
    font-weight: 500;
}

.matrix-title-count {
  display: inline-block;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 0.6rem;
  width: 1.4rem;
  text-align: center;
  margin-left: 0.5rem;
}

.matrix-form {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0.6rem
}

.matrix-form input {
    padding: 0.4rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.matrix-form button {
    padding: 0.4rem;
    border-radius: 0.2rem;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
}

.matrix-form button:hover {
    background-color: gray;
}

