@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --primary-color: #7c3aed;
  --secondary-color: #8b5cf6;
  --success-color: #15803d;
  --danger-color:#b91c1c
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button, input {
  font-family: "Poppins", sans-serif;
}

